@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
    --fonte: 'Montserrat', sans-serif;
}

body {
    background: #C4C4C4;
}

main {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: auto;
    place-items: center;
    margin-top: 100px;
}

@media screen and (max-width: 1220px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1220px) {
    main {
        grid-template-columns: 1fr;
    }
}



section {
    border: 3px solid #117522;
    border-radius: 30px;
    max-width: 600px;
    height: fit-content;
    margin: 0 30px 30px;
    padding: 30px;
    box-sizing: border-box;
    background: #3fa14c4d;
}

section h2 {
    text-align: center;
    font: 500 25px var(--fonte);
    background-color: #11752280;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
}

section h1 {
    text-align: center;
    font: 700 40px var(--fonte);
}

section:nth-child(1) {
    padding-top: 0;
}

section:nth-child(1) input{
    margin: auto;
    display: block;
}

section input[type=radio] {
    display: none;
}

section input[type=number] {
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    outline: none;
    background: #3fa14c4d;
    text-align: center;
    font: bold 14px var(--fonte);
}

section div {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    margin-bottom: 30px;
}

section input[type=radio] + label::before{
    background: #3FA14C;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #117522;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 3px 0;
}

section input[type=radio]:checked + label::before {
    background: #FFF;
    border: 5px solid #BB0B0D;
    box-sizing: border-box;
    padding: 5px;
}

section button {
    margin: 20px auto 0;
    display: block;
    background: #BB0B0D;
    padding: 15px 50px;
    border-radius: 10px;
    font: 500 18px var(--fonte);
    color: #FFF;
    cursor: pointer;
    border: none;
}

section button:active {
    transform: scale(1.02);
}

label {
    font: bold 16px/40px var(--fonte);
    display: block;
    margin-left: 30px;
}

.btnCalcular {
    margin: 20px auto 40px;
    display: block;
    background: #117522;
    padding: 15px 50px;
    border-radius: 10px;
    font: 500 18px var(--fonte);
    color: #FFF;
    cursor: pointer;
    border: none;
}

.btnCalcular:hover {
    background: #FFF;
    border: 3px solid #BB0B0D;
    color: #BB0B0D;
    padding: 12px 47px;
}

.teste {
    background-color: #3FA14C;
}

#resultadoIVS {
    font: 700 25px var(--fonte);
    display: none;
    align-items: center;
    justify-content: center;
    background: #3FA14C;
    width: fit-content;
    height: 50px;
    margin: 0 auto 50px;
    color: #FFF;
    padding: 0 30px;
}
